* {
    box-sizing: border-box;
}

/* The grid container */
.app-wrapper {
    display: grid;
    grid-template-areas:
            'header header'
            'nav content';
    grid-template-columns: 2fr 10fr;
     grid-column-gap: 10px;
}

